$corPrincipal: #eee;
$corDoSecundaria: #111;

body {
    background-color: $corPrincipal;
}

header {
    background-color: $corPrincipal;

    h1 {
        color: $corDoSecundaria;
    }
}

button {
    padding: 16px;
    background-color: $corDoSecundaria;
    color: $corPrincipal;

    &:hover {
        background-color: yellow;
    }
}
